<!DOCTYPE html>
<html>
  <head>
    <title>BITBLOG</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="BITBLOG" />
<meta name="Description" content="This is a BITBLOG website !" />
<link href="/view/template/simple/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/view/template/simple/css/simple.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/view/template/simple/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />

<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

    <script type="text/javascript" src="/Count!addVisits?id=3"></script>

    <script language="javascript" type="text/javascript">

      $(document).ready(function(){

      });


      function topme(rep_id){

        $.post("/Reply!addTopCount",{"rep_id":rep_id},
        function(data) {
          if(data == "true"){
            location.reload();
          }else{
            alert("false");
          }
        },"html"
        );
      }
      function doSubmit(){
        if( $("#rep_ctx").val() == ''){
          alert("Please enter you word");
          return;
        }
        if( $("#validationCode").val() == ''){
          alert("Validation code error");
          return;
        }
        $.post("/Reply!save",$('#msgForm').formSerialize(),
        function(data) {
          if(data == "true"){
            location.reload();
          }else if(data == "0"){
            alert("Validation code error");
          }else if(data == "-1"){
            alert("Function closed");
          }else{
            alert(data);
          }
        },"html"
        );
      }

      function getNewValCode(){
        $('#vldCode ').attr("src",'/Validation!getCode?r='+ Math.random());
      }

    </script>
  </head>


  <div class="container container-ext">

    ﻿     <!-- Fixed navbar -->
      <div class="container navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand zero" href="/index.html"><img src="/upload/logo.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/index.html">HomePage</a></li>
            <li><a href="http://www.bit1010.com">Official website</a></li>
            <li><a href="/admin!dashboard">Console</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
     <div class="container" style="line-height:35px;height:35px;background:rgb(217,237,247);margin-bottom:10px;">
	    	<font style="color:rgb(86,175,69);">News : </font>A new bitblog website is online ! !	 </div>
      
    
   

    <div class="row" >

      <div class="col-xs-12 col-lg-9 no-right-padding">


      
          <div class="panel panel-default noradius noborder">
            <div class="panel-heading">
	          	Position :<a href="index.html">Homepage</a>&gt;
	            <a href="/simple_b1.html">Defualt</a>&gt;
	            1111111</li>
            </div>
            <div class="panel-heading" style="background:rgb(252,252,252);">
              <h4>1111111</h4>
              <h5>
                <i class="fa fa-file-text-o"></i> Defualt&nbsp;&nbsp;
                <i class="fa fa-fw fa-user"></i>admin&nbsp;&nbsp;
                <i class="fa fa-fw fa-clock-o"></i>2015-01-24&nbsp;&nbsp;
                <i class="fa fa-fw fa-eye"></i>0&nbsp;&nbsp;
                <!--<i class="fa fa-fw fa-leaf"></i> keyword : 1111111&nbsp;&nbsp;-->
              </h5>
            </div>
            <div class="panel-body">

              <p>222</p>
            </div>
                  
           </div><!--panel-->
                
       
                
                <div class="panel panel-default noradius noborder">
                  <div class="panel-heading">
                      <i class="fa fa-fw fa-comment"></i> Comment
                  </div>
                  <div class="panel-body">
                    <form id="myform" method="post" action="Home!info&id=3">
                    <!-- end-->
                          			<script language="JavaScript">
				$(function(){
						$("#navdiv a").click(function(){
								clickId = $(this).attr("id");
								var curNo = $("#skipValue").val();
								if (typeof(clickId) == "undefined")  return;
								else if(clickId=="pre")  clickId = parseInt(curNo)-1;
								else if(clickId=="next") clickId = parseInt(curNo)+1;
								$("#skipValue").attr("value",clickId);
								$(this).parents("form").submit();
						});
					});
			</script>

			<style>
				#navdiv a{
					text-decoration:none; border:none; background:rgb(252,252,252);
					height:20px; line-height:20px; float:left;padding:0 7px; margin:0 1px;display:block;
				}
			</style>
			
			<input name='oldPerPageCnt' type='hidden' value='10'/>
			<input name='skipValue' id='skipValue' type='hidden' value="0"/>
			
			<div id="navdiv" style="float:right; margin:30px 30px 0 0;">
								
			</div>
                      </form>
                      
                                            <form id="msgForm" class="border:none;">

                        <input type="hidden" name="par_id" value="3"/>
                        <div class="row">
                          <input type="hidden"   name="usr_name" value="default"/>
                        </div>


                        <p>
                          <textarea name="rep_ctx" id="rep_ctx" class="form-control" row="3"></textarea>
                        </p>
                        <div class="text-right">
                          <img src="/Validation!getCode" id="vldCode" onclick="getNewValCode()" class="topalign"/>
                          <input type="text" name="validationCode" id="validationCode" maxlength="4" style="width:100px;height:30px;line-height:30px;" value=""/>
                          <button type="button" onclick="doSubmit();" class="btn btn-sm btn-success topalign">Reply</button>
                        </div>

                      </form>
                                      </div>
                 </div>
                 
                 
                 
                  
                    
                    
                    
                    
                    

              </div><!--col-xs-12-->

              <div class="col-xs-12 col-lg-3">
                <div class="panel panel-default noradius noborder">
   <div class="panel-heading">New Articles</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_2.html" title="Welcome">Welcome</a></li>
				<li class="list-group-item"><a href="/simple_3.html" title="1111111">1111111</a></li>
				<li class="list-group-item"><a href="/simple_4.html" title="333333333333">333333333333</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">Click Rank</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_2.html" title="Welcome">Welcome</a></li>
				<li class="list-group-item"><a href="/simple_3.html" title="1111111">1111111</a></li>
				<li class="list-group-item"><a href="/simple_4.html" title="333333333333">333333333333</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">Archives</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_b1.html" title="Defualt">Defualt (3)</a></li>
		   </ul>
</div>


              </div>

            </div>



            <footer>
  <p><script src="http://s96.cnzz.com/stat.php?id=5602675&web_id=5602675&show=pic" language="JavaScript"></script>&nbsp; &copy; BIT1010 2014 All Rights Reserved .  Powered by <a href="http://www.bit1010.com">BITBLOG v1.0</a></p>
</footer>
<script type="text/javascript" src="/view/template/simple/js/jquery.js"></script>
<script type="text/javascript" src="/view/template/simple/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/view/template/simple/js/jquery.form.js"></script>
<script type="text/javascript" src="/view/template/simple/js/jquery.validate.js"></script>


          </div>



        </body>



      </html>