<div class="panel panel-default noradius noborder">
   <div class="panel-heading">New Articles</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_2.html" title="Welcome">Welcome</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">Click Rank</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_2.html" title="Welcome">Welcome</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">Archives</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_b1.html" title="Defualt">Defualt (1)</a></li>
		   </ul>
</div>


