<!DOCTYPE html>
<html>
  <head>
    <title>BITBLOG</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="BITBLOG" />
<meta name="Description" content="This is a BITBLOG website !" />
<link href="/view/template/simple/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/view/template/simple/css/simple.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/view/template/simple/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />

<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

  </head>
  <body>
    <div class="container container-ext">

      ﻿     <!-- Fixed navbar -->
      <div class="container navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand zero" href="/index.html"><img src="/upload/logo.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/index.html">HomePage</a></li>
            <li><a href="http://www.bit1010.com">Official website</a></li>
            <li><a href="/admin!dashboard">Console</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
     <div class="container" style="line-height:35px;height:35px;background:rgb(248,252,254);margin-bottom:10px;">
	    	<font style="color:rgb(86,175,69);">Notice : </font>A new bitblog website is online ! !	 </div>
      
    
   
	
	
      <div class="row" >

        <div class="col-xs-12 col-sm-9 no-right-padding">
          <form  method="post" action="Home!indexDyn">
            <div class="panel panel-default noradius noborder">
              <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-fw fa-hand-o-right"></i> New Post</h3>
                </div>
                <div class="list-group">
                                    <div class="row list-group-item  row-ext zero noradius coverline">
                    <div class="col-xs-12 col-sm-3">
                      <img src="upload/default.png" class="ctx-item-img"/>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <h4>
                        <span>Defualt<font><i class="fa fa-fw fa-caret-right red "></i></font></span>
                        <a href="simple_2.html" >Welcome</a>
                      </h4>
                      <h5>
                        <i class="fa fa-fw fa-user"></i>&nbsp;<font color="#00a">admin</font>&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-fw fa-clock-o"></i>&nbsp;2015-01-24&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-fw fa-eye"></i>&nbsp;15 view&nbsp;&nbsp;&nbsp;&nbsp;
                      </h5>
                      <p class="list-group-item-text">
                        Welcome to bitblog world!!                      </p>
                    </div>
                  </div>
                  


                </div>
              </div>
            </form>
          </div>

          <div class="col-xs-12 col-sm-3" style="padding-left:10px;">
            <div class="panel panel-default noradius noborder">
   <div class="panel-heading">New Articles</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_2.html" title="Welcome">Welcome</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">Click Rank</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_2.html" title="Welcome">Welcome</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">Archives</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_b1.html" title="Defualt">Defualt (1)</a></li>
		   </ul>
</div>


          </div>

        </div>



        <footer>
  <p><script src="http://s96.cnzz.com/stat.php?id=5602675&web_id=5602675&show=pic" language="JavaScript"></script>&nbsp; &copy; BIT1010 2014 All Rights Reserved .  Powered by <a href="http://www.bit1010.com">BITBLOG v1.0</a></p>
</footer>
<script type="text/javascript" src="/view/template/simple/js/jquery.js"></script>
<script type="text/javascript" src="/view/template/simple/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/view/template/simple/js/jquery.form.js"></script>
<script type="text/javascript" src="/view/template/simple/js/jquery.validate.js"></script>


      </div>



    </body>
  </html>