<!DOCTYPE html>
<html>
  <head>
    <title>bit1010</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="bit1010" />
<meta name="Description" content="bit1010" />
<link href="/view/template/simple/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/view/template/simple/css/simple.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/view/template/simple/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />

<script type="text/javascript" src="/view/template/simple/js/jquery.js"></script>
<script type="text/javascript" src="/view/template/simple/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/view/template/simple/js/jquery.form.js"></script>
<script type="text/javascript" src="/view/template/simple/js/jquery.validate.js"></script>

<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

  </head>
  <body>
    <div class="container container-ext">

      ﻿

  
    
     <!-- Fixed navbar -->
    
      <div class="container navbar navbar-inverse navbar-fixed-top">
      		
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand zero" href="/index.html"><img src="/upload/logo.png" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/index.html">网站首页</a></li>
            <li><a href="http://www.bit1010.com">官方网站</a></li>
            <li><a href="/admin!dashboard">管理后台</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
      
     <div class="container" style="line-height:35px;height:35px;background:rgb(245,245,245);margin-bottom:10px;">
	    	<font style="color:rgb(86,175,69);">网站消息 : </font>网站最新上线 !!!	 </div>
      
    
   
	
	
      <div class="row" >

        <div class="col-xs-12 col-sm-9 no-right-padding">
          <form  method="post" action="Home!indexDyn">
            <div class="panel panel-default noradius noborder">
              <div class="panel-heading">
                <h3 class="panel-title">最新发布</h3>
                </div>
                <div class="list-group">
                                    <div class="row list-group-item  row-ext zero noradius coverline">
                    <div class="col-xs-12 col-sm-3">
                      <img src="/upload/image/default.png" class="ctx-item-img"/>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <h4>
                        <span>随笔123<font><i class="fa fa-fw fa-caret-right red "></i></font></span>
                        <a href="simple_4.html" >领悟生活</a>
                      </h4>
                      <h5>
                        <i class="fa fa-fw fa-user"></i>&nbsp;admin&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-fw fa-clock-o"></i>&nbsp;2014-12-22&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-fw fa-eye"></i>&nbsp;6&nbsp;&nbsp;&nbsp;&nbsp;
                      </h5>
                      <p class="list-group-item-text">
                        每天都想想什么才是重要的才不会迷茫和被无谓的琐事所扰。                      </p>
                    </div>
                  </div>
                                    <div class="row list-group-item  row-ext zero noradius coverline">
                    <div class="col-xs-12 col-sm-3">
                      <img src="/upload/image/default.png" class="ctx-item-img"/>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                      <h4>
                        <span>随笔123<font><i class="fa fa-fw fa-caret-right red "></i></font></span>
                        <a href="simple_2.html" >出柜这事儿</a>
                      </h4>
                      <h5>
                        <i class="fa fa-fw fa-user"></i>&nbsp;admin&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-fw fa-clock-o"></i>&nbsp;2014-12-20&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="fa fa-fw fa-eye"></i>&nbsp;4&nbsp;&nbsp;&nbsp;&nbsp;
                      </h5>
                      <p class="list-group-item-text">
                        男人出柜多由于身体寂寞，女人出柜多由于心理寂寞。因为男人是视觉动物，女人是听觉动物，男人喜欢日新月异的美色，女人喜欢花样翻新的蜜语甜言。男人的眼睛和身体得不到满足的时候就会本能的寻找新猎物，女人觉得心理空虚寂寞的时候会找个身体安慰心理，出柜就这样诞生了。                      </p>
                    </div>
                  </div>
                  


                </div>
              </div>
            </form>
          </div>

          <div class="col-xs-12 col-sm-3">
            <div class="panel panel-default noradius noborder">
   <div class="panel-heading">最新文章</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_4.html" title="领悟生活">领悟生活</a></li>
				<li class="list-group-item"><a href="/simple_2.html" title="出柜这事儿">出柜这事儿</a></li>
				<li class="list-group-item"><a href="/simple_3.html" title="恢复现场">恢复现场</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">点击排行</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_3.html" title="恢复现场">恢复现场</a></li>
				<li class="list-group-item"><a href="/simple_4.html" title="领悟生活">领悟生活</a></li>
				<li class="list-group-item"><a href="/simple_2.html" title="出柜这事儿">出柜这事儿</a></li>
		   </ul>
</div>

<div class="panel panel-default noradius noborder">
   <div class="panel-heading">文章分类</div>
   <ul class="list-group">
				<li class="list-group-item"><a href="/simple_b5.html" title="随笔123">随笔123 (2)</a></li>
				<li class="list-group-item"><a href="/simple_b7.html" title="生活小笑话">生活小笑话 (1)</a></li>
		   </ul>
</div>


          </div>

        </div>



        <footer>
  <p><script src="http://s96.cnzz.com/stat.php?id=5602675&web_id=5602675&show=pic" language="JavaScript"></script>&nbsp; &copy; BIT1010 2014 All Rights Reserved .  Powered by <a href="http://www.bit1010.com">BITBLOG v1.0</a></p>
</footer>
<!--
<div class="col-lg-12 footer">
	Powered by <a href="http://www.bit1010.com">BITBLOG v1.0</a>&nbsp;Copyright &copy; 2013 BIT1010 All Rights Reserved <span><script src="http://s96.cnzz.com/stat.php?id=5602675&web_id=5602675" language="JavaScript"></script></span>
</div>
-->


      </div>



    </body>
  </html>