html,body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6
{ font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; font-size:14px;}

body{
    background: url(../images/bg.png);

}

*{
    margin:0;
    padding:0;
    border:none;
}
.container{
    width:1000px;
    margin:0 auto;
}
.header{
    border-bottom: 1px solid #ccc;
    padding:5px 0px!important;
    width:100%;
    height:100px;
}
.logo{
    height:100%;
    float:left;
}
.nav{
    height:100%;
    float:right;
    padding-top:10px;
}

.nav a{
    margin-left:10px;

}

a{
    text-decoration:none;
    color:#666;
}

a:hover{
    color: rgb(255,102,0);
}

.main{
    width:1000px;
    border-top: 1px solid #f6f6f6;
    margin-top:0px;
}

.main-left{
    width:700px;
    float:left;

}

.main-right{
    width:280px;
    float:left;
    margin-left:20px;
}

.panel{
    border-color: #ddd;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    padding:20px;
}

.margin-top20{
    margin-top:20px;
}

.padding20{
    padding:20px;
}

.paddinglr20{
    padding: 0 20px;
}

.footer{
    float:left;
    width:100%;
    color:#666;
    height:30px;
    line-height:30px;
    margin:10px 0;
}
.footer a{
    font-size:0.9em;
    color: #337ab7;
}

.panel-header{
    text-shadow: 0 0px 0 #EEE;
    width:100%;
}

.panel-header a{
    text-decoration:none;
    height:40px;
    line-height:40px;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1em;
    color: #333;
}

.panel-header a:hover{
    color: rgb(255,102,0);
}

.panel-body{
    width:660px;
    padding-top:15px;
}

.panel-left{
    width:200px;
    float:left;
}
.panel-right{
    width:440px;
    margin-left:20px;
    float:right;
}
.panel-footer{
    width:100%;
    color:#777;
    height:30px;
    font-size:0.9em;
}


.panel-text{
    line-height:1.8em;
    font-size:1.1em;
    color:#234;
}

.panel hr{
    margin:25px 0 10px 0;
    border-top: 1px solid #eee;
}


.panel-img{
    width:98%;
    height:auto;
    border-radius: 3px;
    border: 1px solid #ccc;
    background: #f9f9f9;
    box-shadow: 1px 1px 2px #d3d3d3;
    padding:3px;
}


.panel:hover{
    background-color: rgb(248,252,254) !important;
}



.cat{
    width:100%;

}
.cat-header{
    padding:10px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font-size: 18px;
    text-shadow: 0 2px 0 #EEE;
    cursor: pointer;
    background: rgb(248,252,254);
}
.cat ul{
    background:#fff;
    width:100%;
    padding-bottom:20px;
}

.cat ul li{
    list-style-type: none;
    border-bottom: 1px dashed #ccc;
    padding: 10px 0;
    margin: 0 10px;
}


.row{
    width:100%;
    background:#fff;
}

.info-nav{
    padding:10px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    font-size: 18px;
    cursor: pointer;
    background: rgb(248,252,254);
}


.info-title{
    padding:20px 0;
}

.info-title h4{
    text-align:center;
    text-decoration:none;
    line-height:40px;
    height:40px;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.1em;
    color: #333;
}
.info-title h5{
    text-align:center;
    width:100%;
    color:#999;
    font-size:1em;
    font-weight: normal;
}

.info-text{
    line-height:1.8em;
    font-size:1.1em;
    color:#234;
    padding:0 25px;
}

.align-right{
    text-align:right;
}

.align-center{
    text-align:center;
}

.textarea{
    width:660px;
    height:100px;
    margin:0 20px;
    text-indent: 0px;
    text-align: start;
    border: 1px solid;
    resize: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-color: rgb(169, 169, 169);
}
.vldcode{
    width:100px;
    height:28px;
    line-height:28px;
    border:1px solid;
    border-color: rgb(169, 169, 169);
}

.clear {
    clear: both;
    overflow:hidden;
}
.topalign{vertical-align:top;}

.btn{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 3px;
    height:30px;
    line-height:30px;
    padding:0 10px;
}