<div class="panel noradius noborder">
   
   <div class="panel-heading panel-heading-ext">Latest</div>
  
   <ul class="list-group list-group-ext">
				<li><a href="/default_1.html" title="Welcome to BitCMS">Welcome to BitCMS</a></li>
		   </ul>
   <div class="blank20"></div>

  <div class="panel-heading panel-heading-ext">Archivement</div>
   <ul class="list-group list-group-ext">
				<li><a href="/default_b1.html" title="Share">Share (1)</a></li>
		   </ul>
    <div class="blank20"></div>
   
   
   <div class="panel-heading panel-heading-ext">Link</div>
   <ul class="list-group list-group-ext">
		<li><a href="http://www.bit1010.com" title="">www.bit1010.com</a></li>
		<li><a href="https://github.com/bitdesign/bitcms" title="">GitHub</a></li>
   </ul>
    <div class="blank20"></div>
    
</div>
