<!DOCTYPE html>
<html>
    <head>
        <title>BitCMS</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="BitCMS" />
<meta name="Description" content="BitCMS" />

<link href="view/public/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
<link href="view/public/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="screen" />

<link href="/view/template/default/css/simple.css" rel="stylesheet" type="text/css" media="screen" />

<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<script type="text/javascript" src="view/public/js/jquery.js"></script>
<script type="text/javascript" src="view/public/js/jquery.form.js"></script>
<script type="text/javascript" src="view/public/js/jquery.validate.js"></script>
<script type="text/javascript" src="view/public/js/base64.js"></script>
<script type="text/javascript" src="view/public/js/bit.js"></script>
<script type="text/javascript" src="view/public/js/jquery.mousewheel.min.js"></script>    </head>
    <body>
        <div class="container container-ext">

            <div class="container container-ext navbar  navbar-static-top" role="navigation" style="margin-bottom:0px;border-bottom: 1px solid #ccc;padding:5px 0px!important;">
    <div class="navbar-header">
        <a class="zero" href="/index.html"><img src="/upload/logo.png" /></a>
    </div>
    <ul class="nav navbar-nav navbar-right" >
        <li><a class="header-text" href="/index.html">Homepage</a></li>
        <li><a class="header-text" href="/content!listPage" target="_blank">Console</a></li>
    </ul>
</div>

<hr style="border-top: 1px solid #f6f6f6;margin-top:0px;"/>






            <div class="row" >

                <div class="col-xs-12 col-sm-9 double-right-padding">
                    <form  method="post" action="Home!index">
                                               
                        <div class="panel panel-default noradius noborder">


                            <div class="row list-group-item  row-ext zero noradius coverline"  style="padding:6px 10px;">
                                
                                <div class="panel-heading">
                                    <h2 class="panel-title"><a href="default_1.html" >Welcome to BitCMS</a></h2>
                                </div>
                                                            <div class="col-xs-12 col-sm-12">
                                    <p class="list-group-item-text">
                                         BitCMS is a super lightweight blog software for minimalist paranoia.                                    </p>
                                </div>
                                 
                                <div class="col-xs-12 col-sm-12">
                                    <hr/>
                                    <h5><i class="fa fa-fw fa-user"></i>admin&nbsp;&nbsp;&nbsp;
                                        <!--<i class="fa fa-fw fa-pencil-square-o"></i>2015-06-26&nbsp;&nbsp;&nbsp;-->
                                        <i class="fa fa-fw fa-clock-o"></i>2015-06-26 03:22:58                                     </h5>
                                 </div>

                            </div>

                            
                        </div>
                                               			<script language="JavaScript">
				$(function(){
						$("#navdiv a").click(function(){
								clickId = $(this).attr("id");
								var curNo = $("#skipValue").val();
								if (typeof(clickId) == "undefined")  return;
								else if(clickId=="pre")  clickId = parseInt(curNo)-1;
								else if(clickId=="next") clickId = parseInt(curNo)+1;
								$("#skipValue").attr("value",clickId);
								$(this).parents("form").submit();
						});
					});
			</script>

			<style>
			    
			    #navdiv{
			        float:right; margin:30px 30px 0 0;
			    }
			    
				#navdiv a{
					text-decoration:none; border:none; 
					height:20px; line-height:20px; float:left;padding:0 7px; margin:0 1px;display:block;
				}
			</style>
			
			<input name='oldPerPageCnt' type='hidden' value='50'/>
			<input name='skipValue' id='skipValue' type='hidden' value="1"/>
			
			<div id="navdiv">
								
			</div>
                    </form>
                </div>

                <div class="col-xs-12 col-sm-3 no-left-padding">
                   <div class="panel noradius noborder">
   
   <div class="panel-heading panel-heading-ext">Latest</div>
  
   <ul class="list-group list-group-ext">
				<li><a href="/default_1.html" title="Welcome to BitCMS">Welcome to BitCMS</a></li>
		   </ul>
   <div class="blank20"></div>

  <div class="panel-heading panel-heading-ext">Archivement</div>
   <ul class="list-group list-group-ext">
				<li><a href="/default_b1.html" title="Share">Share (1)</a></li>
		   </ul>
    <div class="blank20"></div>
   
   
   <div class="panel-heading panel-heading-ext">Link</div>
   <ul class="list-group list-group-ext">
		<li><a href="http://www.bit1010.com" title="">www.bit1010.com</a></li>
		<li><a href="https://github.com/bitdesign/bitcms" title="">GitHub</a></li>
   </ul>
    <div class="blank20"></div>
    
</div>
                    <!--
                    
                                                            -->
                    
                </div>

            </div>



            <footer>
  <p>&nbsp; &copy; BIT1010 2014 All Rights Reserved .  Powered by <a href="http://www.bit1010.com">BITCMS v1.0</a></p>
</footer>

        </div>



    </body>
</html>