Options +FollowSymLinks
<IfModule mod_rewrite.c>
	RewriteBase /
	RewriteEngine on

	#RewriteCond %{REQUEST_FILENAME} !-s
	#Rewriterule ([a-z]*)!([a-z]*)(.*)$ router.php?c=$1\&m=$2$3 [NC]
	RewriteCond %{QUERY_STRING} ^$
	Rewriterule ([a-z]*)!([a-z]*)$ router.php?c=$1\&m=$2 [NC]
	RewriteCond %{QUERY_STRING} !^$
	Rewriterule ([a-z]*)!([a-z]*)$ router.php?c=$1\&m=$2&%{query_string}   [NC]
	Rewriterule ([a-z0-9]*)_([a-z0-9]*).html$  static/$1/$2.html   [NC]
	#Rewriterule admin$ admin!dashboard   [NC]
	RewriteRule backup/.* – [F]
	
	RewriteRule config/(.*).(php)$ – [F]
	RewriteRule controller/(.*).(php)$ – [F]
	#RewriteRule lib/(.*).(php)$ – [F]
	RewriteRule log/.* – [F]
	RewriteRule model/(.*).(php)$ – [F]
	RewriteRule ui/(.*).(php)$ – [F]
	RewriteRule install/(.*).(sql)$ – [F]
	
</IfModule>
