html{ margin:0px; padding:0px; width:100%; height:100%;}
body{ margin:0px; padding:0px; font-size:13px; font-family: "微软雅黑",Times New Roman,Georgia,Arial Black,Verdana; }
img { border: 0; display: block }
ul { list-style: none; }
pre { white-space: pre-wrap; word-wrap: break-word; }
a:link, a:visited {text-decoration: none; color: #333;}

.splitdiv{width:100%;height:20px; }
.split {font-size: 16px; color: #444; font-weight: bold; background: url(../images/h_line.jpg) repeat-x 20px center; }
.split span { color: #FE5187 }
.split p { background: #fff; width: 90px }
.splitinfo{width:100%;height:40px; border-bottom:solid 1px rgb(232,232,232);float:left;margin-bottom:20px;}
.splitinfo a{width:100px;height:40px; display:block; background:#5EA51B;color:#fff;line-height:40px; text-align:center;float:left;}
.infoTitle{font-size: 16px;margin: 20px 0;text-align: center;color: #333;}
.infoTime{font-size: 12px;text-align: center;color: #999; border:1px dashed #aaa;display:block;margin:0 30px 50px 0;height:25px;line-height:25px;}
.infoCtx{ padding-right:20px;}
.infoKey{font-size: 12px;background: url(../images/6264.png) no-repeat 10px center #F8F8F8;	color: #999;
	 border:1px solid #F0F0F0;display:block;padding-left:40px;margin:50px 30px 50px 0;height:25px;line-height:25px;}
	 
.repliesDiv{font-size: 12px;border:1px solid #F0F0F0;margin:50px 30px 50px 0;line-height:25px;}
.reply{ font-size: 14px";color: #666; border-bottom:1px solid #F0F0F0; display:block; line-height:25px;}
.repliesBar{ background: url(../images/reply.png) no-repeat 0px center #F8F8F8; height:25px; padding-left:40px;}
.replyValCode {float:left; display:block;}
.replyValInput {float:left; width:50px; line-height:25px; height:25px;margin-left:2px;text-align:center;}
.replybtn { text-align:center; background:#8BBF5D; float:left; color:#fff;border:none;
	 height:30px;width:100px; line-height:30px;cursor:pointer;margin-left:50px;}
.replybtn:hover {background:#5EA51B; }

.infoKey span{color:#099;}

.clear {
     clear: both;
     height:1px;
     margin-top:-1px;
     overflow:hidden;
}
.all{
	width:100%;
	margin-top:30px;
	padding:20px 0px;
	/*-moz-box-shadow:1px 1px 7px #ccc; 
	-webkit-box-shadow:1px 1px 7px #ccc; 
	box-shadow:1px 1px 7px #ccc;*/
}
.content{
	width:1000px;
	margin:0 auto;
	padding:0px;
	background: rgb(255,255,255); 
}
.contentBottom{
	height:20px!important;
	border-bottom:solid 1px rgb(232,232,232);
	margin-top:10px;
}
.content_left{
	width:740px;
	border:0px;
	background:#ccc;
	float:left;
	background: url(../images/r_line.jpg) repeat-y right;
	min-height:600px;
}

.content_right{
	width:250px;
	float:left;
	border:0px;
	padding-left:10px;
}
.header{
	height:60px;
	width:1000px;
	margin:0 auto;
	background:#fff;
}

.logo { width: 400px; height: 100%; float:left;}
.logo a { width: 320px; height: 100%; loat:left;  display: block }


.slider{
	min-width:1000px;
	width:100%;
	margin:0;
}

.slider div span{ 
	height:100%; line-height:250px; 
	width:100%;	
	text-align:center;
	background:#228dcf;
	display:block;
	font-size:18px;
	color:#fff;
}


.footer{
	width:100%;
	text-align:center;
	padding-top:15px;
	height:100px;
	float:left;
}
.footer .copyright{	color:#555;	line-height:23px; }
.footer a{	color:#f00;font-size:13px;}

.box{
	margin:5px 10px 0px 10px;
	width:670px;
	float:left;
}
.box1{
	width:240px;
	margin:5px 10px 5px 0px;
}

.title {
	position:relative;
	height:20px;
	line-height:20px;
	margin-top:15px;
}

.ctx {
	padding:0px 10px;
	width:100%;
	float:left;
}

.ctx .ctximg{
	width:190px;
	height:110px;
	margin-right:10px;
	float:left;
}

.ctx .ctxbody{
	display:block;
	width:700px;
	font-size:12px;
	line-height:200%;	
	float:left;
}
.ctx .ctxbody .ctxp{
	display:block;
	width:500px;
	height:100%;
	font-size:12px;
	line-height:200%;	
	float:left;
}
.ctxp{
	word-wrap: break-word; 
}

.ctx .readmore { 
	background: #fd8a61; color: #fff; display:block;text-align:center;
	 width:80px; height:30px;line-height:30px; float: right;font-size:13px;margin-top:5px;
	 }

.ctx .ctxtitle {
	height:25px;
	line-height:25px;
	display:block;
	width:100%;
	float:left;
}

.ctx .ctxfooter { 
	width:670px;display: inline-block; background: #f6f6f6 url(../images/time.jpg) 15px center no-repeat; padding-left:30px;
	line-height: 26px; height: 26px; color: #838383; margin-top:10px; }
.ctxfooter span { margin: 0 10px; }
.ctxfooter span a { color: #099B43; }

.weather { background: url(../images/weather_bg.jpg) no-repeat; height: 88px; margin: 20px 0;padding: 20px 0 0 75px;}
.news h3 { font-size: 14px; background: url(../images/r_title_bg.jpg) repeat-x center }
.news h3 p { background: #fff; width: 70px }
.news h3 span { color: #65b020 }
.news h3.ph span { color: #37ccca; }
.news h3.links span { color: #F17B6B; }
.news ul { margin-bottom: 20px }
.news ul li a:hover { text-decoration: underline }
.rank li { height: 25px; line-height: 25px; clear: both;  overflow: hidden; padding-left: 15px; background: url(../images/li.jpg) no-repeat left center; }
.rank { margin: 10px 0 ; padding-left:10px;}
.rank label{ font-size:12px;}
.rank li a { color: #333; }
.paih { background: url(../images/ph.jpg) no-repeat left 8px; margin: 10px 0 ;padding-left:10px;}
.paih li { line-height: 30px; height: 30px; overflow: hidden; padding-left: 24px; border-bottom: #CCC dotted 1px; }


.nav { float: right;  margin: 15px ; text-align: right }
.nav a { position: relative; display: inline-block; font-size:18px;  }
.nav a:hover { text-decoration: none }
.topnav a { margin: 0 5px; padding: 0 8px; }
.topnav a span:first-child { z-index: 2; display: block; }
.topnav a span:last-child { z-index: 1; display: block; color: #999; font: 12px Georgia, serif; opacity: 0; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; transition: transform 0.3s, opacity 0.3s; -webkit-transform: translateY(-100%); -moz-transform: translateY(-100%); transform: translateY(-100%); text-align: center }
.topnav a:hover span:last-child, .topnav a:focus span:last-child { opacity: 1; -webkit-transform: translateY(0%); -moz-transform: translateY(0%); transform: translateY(0%); }
#topnav_current { color: #e15782; }

.ctx h3 { margin: 20px 0 10px 0; color: #333 }