<!DOCTYPE html>
<html>
	<head>
		<title>bit1010</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="bit1010" />
<meta name="Description" content="bit1010" />
<link href="/view/template/base/css/show.css" rel="stylesheet" type="text/css" media="screen" />
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>-->
<script type="text/javascript" src="/view/template/base/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/view/template/base/js/bitslider.js"></script>
<script type="text/javascript" src="/view/template/base/js/jquery.form.js"></script>
<script type="text/javascript" src="/view/template/base/js/jquery.validate.js"></script>
		<script type="text/javascript" src="/Count!addVisits?id=4"></script>
		
		<script language="javascript" type="text/javascript">
			
			$(document).ready(function(){

			});
			
	
		function topme(rep_id){
			
			$.post("/Reply!addTopCount",{"rep_id":rep_id},
				function(data) { 
					if(data == "true"){
						location.reload();
					}else{
						alert("false");
					}
				},"html"
			);
		}
		function doSubmit(){
				if( $("#rep_ctx").val() == ''){
					alert("请输入内容");
					return;
				}
				if( $("#validationCode").val() == ''){
					alert("请输入验证码");
					return;
				}
				$.post("/Reply!save",$('#msgForm').formSerialize(),
				function(data) { 
					if(data == "true"){
						location.reload();
					}else if(data == "0"){
						alert("请输入正确的验证码!");
					}else if(data == "-1"){
						alert("管理员已关闭回复功能!"); 
					}else{
						alert(data);
					}
				},"html"
				);
			}
			
			function getNewValCode(){
				$('#vldCode ').attr("src",'/Validation!getCode?r='+ Math.random()); 
			}
			
		</script>
	</head>
	<body>
		﻿<div class="header">
	<div class="logo">
		<a href="/" style="background: url(/upload/logo.png) no-repeat;"></a>
	</div>
	<div class="nav topnav" id="topnav">
		<a href="/index.html"><span>首页</span><span class="en">Protal</span></a>
		<a href="http://www.bit1010.com"><span>官方网站</span><span class="en">BIT1010</span></a>
		<a href="/admin!dashboard"><span>管理后台</span><span class="en">Console</span></a>
	</div>
	<div class="clear">
	</div>
</div>



		<div class="all">
			<div class="content">
						<div class="splitinfo">
								<span><a href="index.html">网站首页</a></span><span><a style="background:#8BBF5D;">随笔123</a></span>
						</div>
						
						<div class="content_left">
								<h2 class="infoTitle">领悟生活</h2>
								<p class="infoTime">
									发布时间:2014-12-22&nbsp;&nbsp;
									编辑:admin&nbsp;&nbsp;
									阅读(6)
								</p>
								<div class="infoCtx">
									<p>								</p><p>每天都想想什么才是重要的才不会迷茫和被无谓的琐事所扰。</p><p>							</p>								</div>
								<p class="infoKey">
									<span>关键词</span>:领悟生活&nbsp;&nbsp;
								</p>
								
								<div class="repliesDiv">
									<div class="repliesBar reply">
									评论
								  </div>
									<form id="myform" method="post" action="Home!info&id=4">
										
											 <!-- start-->
											<div class="reply">	
												
												<div style="width:80px;height:100%;float:left;">
													<img width="50" height="50" style="margin:15px;" src="/view/template/base/images/default.png"/></div>
												<div style="height:100%;margin-left:80px;">
													<p style="color:red;">127.0.0.1</p>
													<p><pre>11很好很好很好很好很好很好很好很好很好很好很好很好很好11很好很好很好很好很好很好很好很好很好很好很好很好很很好很好很好很好很好很好很好很好很好很好很好很好</pre></p>
													<p style="font-size:10px;color:#aaa;">
														01月06日&nbsp;&nbsp;&nbsp;
														<!--<a onclick="topme(2)" style="cursor:pointer;">顶(0)</a>-->
													</p>
												</div>
											
												<div class="clear"></div>
											</div>
											<!-- end-->
											 
													<script language="JavaScript">
				$(function(){
						$("#navdiv a").click(function(){
								clickId = $(this).attr("id");
								var curNo = $("#skipValue").val();
								if (typeof(clickId) == "undefined")  return;
								else if(clickId=="pre")  clickId = parseInt(curNo)-1;
								else if(clickId=="next") clickId = parseInt(curNo)+1;
								$("#skipValue").attr("value",clickId);
								$(this).parents("form").submit();
						});
					});
			</script>

			<style>
				#navdiv a{
					text-decoration:none; border:none; background:rgb(252,252,252);
					height:20px; line-height:20px; float:left;padding:0 7px; margin:0 1px;display:block;
				}
			</style>
			
			<input name='oldPerPageCnt' type='hidden' value='5'/>
			<input name='skipValue' id='skipValue' type='hidden' value="1"/>
			
			<div id="navdiv" style="float:right; margin:30px 30px 0 0;">
								
			</div>
										</form>
										<div class="clear"></div>
								</div>
								
							
								
								<div class="repliesDiv">	
									<form id="msgForm">
										<input type="hidden" name="par_id" value="4"/>
										<div style="height:100%;width:100%;">
											<input type="hidden"   name="usr_name" value="default"/>
										</div>
																				<div style="width:100%;border:none;">
											<textarea name="rep_ctx" id="rep_ctx" style="width:100%;height:100px;resize:none;"></textarea>
										</div>
										<div style="float:right;height:30px;">
											<img src="/Validation!getCode" class="replyValCode" id="vldCode" onclick="getNewValCode()"/>
											<input type="text" name="validationCode" id="validationCode" maxlength="4" class="replyValInput" value=""/>
											<input type="button" onclick="doSubmit();" class="replybtn" value="留言"/>
										</div>
									</form>
								</div>
						</div><!--content_left-->

						<div class="content_right">
							<div class="news">
		<h3><p>最新<span>文章</span></p></h3>
		<ul class="rank">
								<li><a href="/base_4.html" title="领悟生活" target="_blank">领悟生活</a></li>
								<li><a href="/base_2.html" title="出柜这事儿" target="_blank">出柜这事儿</a></li>
								<li><a href="/base_3.html" title="恢复现场" target="_blank">恢复现场</a></li>
						</ul>
		
		<h3 class="ph"><p>点击<span>排行</span></p></h3>
		<ul class="paih">
										<li><a href="/base_3.html" title="恢复现场" target="_blank">恢复现场</a></li>
										<li><a href="/base_4.html" title="领悟生活" target="_blank">领悟生活</a></li>
										<li><a href="/base_2.html" title="出柜这事儿" target="_blank">出柜这事儿</a></li>
							</ul>
	
		<h3><p>文章分类</p></h3>
		<ul class="rank">
								<li><a href="/base_b5.html" title="随笔123" target="_blank">随笔123 (<label>2</label>)</a></li>
								<li><a href="/base_b7.html" title="生活小笑话" target="_blank">生活小笑话 (<label>1</label>)</a></li>
						</ul>
	</div><!--news-->						</div><!--content_right-->
						
						<div class="clear"></div>
						
				</div><!--content-->
			</div><!--all-->
			
			<div class="footer">
	<div class="copyright">
		Powered by <a href="http://www.bit1010.com">BITBLOG v1.0</a><br/> 
		Copyright &copy; 2013 BIT1010 All Rights Reserved <br/>
		<script src="http://s96.cnzz.com/stat.php?id=5602675&web_id=5602675&show=pic" language="JavaScript"></script>	</div>
</div>
		</body>

</html>