<!DOCTYPE html>
<html>
	<head>
		<title>bit1010</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="bit1010" />
<meta name="Description" content="bit1010" />
<link href="/view/template/base/css/show.css" rel="stylesheet" type="text/css" media="screen" />
<!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js"></script>-->
<script type="text/javascript" src="/view/template/base/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/view/template/base/js/bitslider.js"></script>
<script type="text/javascript" src="/view/template/base/js/jquery.form.js"></script>
<script type="text/javascript" src="/view/template/base/js/jquery.validate.js"></script>
	</head>
	<body>
		﻿<div class="header">
	<div class="logo">
		<a href="/" style="background: url(/upload/logo.png) no-repeat;"></a>
	</div>
	<div class="nav topnav" id="topnav">
		<a href="/index.html"><span>首页</span><span class="en">Protal</span></a>
		<a href="http://www.bit1010.com"><span>官方网站</span><span class="en">BIT1010</span></a>
		<a href="/admin!dashboard"><span>管理后台</span><span class="en">Console</span></a>
	</div>
	<div class="clear">
	</div>
</div>



		<!--
<div class="slider" style="background:url(/upload/slider.png);background-size:contain;" id="slider">
	
</div>
-->
<div class="slider"  id="slider">
	<img src="/upload/slider.png" width="100%";/>
	
</div>
		<div class="all">
			<div class="content">
					  <div class="splitdiv">
								<h2 class="split"><p>文章<span>推荐</span></p></h2>
						</div>
						
						<div class="content_left">
							
							<form  method="post" action="Home!indexDyn">
							<div class="ctx">
								<h3>领悟生活</h3>								<div class="ctxbody">
										<img src="/upload/image/default.png" class="ctximg"/>
									<div class="ctxp">
										<div style="width:100%;">
												每天都想想什么才是重要的才不会迷茫和被无谓的琐事所扰。...(6)
											  <a title="/" href="base_4.html"  target="_blank" class="readmore">阅读全文>></a>
										</div>
									</div>
								</div>
								<div class="ctxfooter"><span>2014-12-22 01:16:18</span><span>作者：admin</span><span>个人博客：[<a href="/base_b5.html">随笔123</a>]</span></div>
								<h3>出柜这事儿</h3>								<div class="ctxbody">
										<img src="/upload/image/default.png" class="ctximg"/>
									<div class="ctxp">
										<div style="width:100%;">
												男人出柜多由于身体寂寞，女人出柜多由于心理寂寞。因为男人是视觉动物，女人是听觉动物，男人喜欢日新月异的美色，女人喜欢花样翻新的蜜语甜言。男人的眼睛和身体得不到满足的时候就会本能的寻找新猎物，女人觉得心理空虚寂寞的时候会找个身体安慰心理，出柜就这样诞生了。...(4)
											  <a title="/" href="base_2.html"  target="_blank" class="readmore">阅读全文>></a>
										</div>
									</div>
								</div>
								<div class="ctxfooter"><span>2014-12-20 23:57:48</span><span>作者：admin</span><span>个人博客：[<a href="/base_b5.html">随笔123</a>]</span></div>
															</div> <!-- ctx end -->
										<script language="JavaScript">
				$(function(){
						$("#navdiv a").click(function(){
								clickId = $(this).attr("id");
								var curNo = $("#skipValue").val();
								if (typeof(clickId) == "undefined")  return;
								else if(clickId=="pre")  clickId = parseInt(curNo)-1;
								else if(clickId=="next") clickId = parseInt(curNo)+1;
								$("#skipValue").attr("value",clickId);
								$(this).parents("form").submit();
						});
					});
			</script>

			<style>
				#navdiv a{
					text-decoration:none; border:none; background:rgb(252,252,252);
					height:20px; line-height:20px; float:left;padding:0 7px; margin:0 1px;display:block;
				}
			</style>
			
			<input name='oldPerPageCnt' type='hidden' value='50'/>
			<input name='skipValue' id='skipValue' type='hidden' value="1"/>
			
			<div id="navdiv" style="float:right; margin:30px 30px 0 0;">
								
			</div>
							</form>
							
							
						</div><!--content_left-->

						<div class="content_right">
							<div class="news">
		<h3><p>最新<span>文章</span></p></h3>
		<ul class="rank">
								<li><a href="/base_4.html" title="领悟生活" target="_blank">领悟生活</a></li>
								<li><a href="/base_2.html" title="出柜这事儿" target="_blank">出柜这事儿</a></li>
								<li><a href="/base_3.html" title="恢复现场" target="_blank">恢复现场</a></li>
						</ul>
		
		<h3 class="ph"><p>点击<span>排行</span></p></h3>
		<ul class="paih">
										<li><a href="/base_3.html" title="恢复现场" target="_blank">恢复现场</a></li>
										<li><a href="/base_4.html" title="领悟生活" target="_blank">领悟生活</a></li>
										<li><a href="/base_2.html" title="出柜这事儿" target="_blank">出柜这事儿</a></li>
							</ul>
	
		<h3><p>文章分类</p></h3>
		<ul class="rank">
								<li><a href="/base_b5.html" title="随笔123" target="_blank">随笔123 (<label>2</label>)</a></li>
								<li><a href="/base_b7.html" title="生活小笑话" target="_blank">生活小笑话 (<label>1</label>)</a></li>
						</ul>
	</div><!--news-->						</div><!--content_right-->
						
						<div class="clear contentBottom"></div>
						
			
			</div><!--content-->
			</div><!--all-->
		<div class="footer">
	<div class="copyright">
		Powered by <a href="http://www.bit1010.com">BITBLOG v1.0</a><br/> 
		Copyright &copy; 2013 BIT1010 All Rights Reserved <br/>
		<script src="http://s96.cnzz.com/stat.php?id=5602675&web_id=5602675&show=pic" language="JavaScript"></script>	</div>
</div>
		</body>

</html>