body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

body{ 
	background:rgb(238,238,238);
}
.container-ext{
	padding:30px 0px!important;
}
.nopadding{
	padding:0px;	
}
.nomargin{
	margin:0px;	
}
.no-right-padding{
	padding-right:0px!important;	
}
.noborder{
	border:none!important;	
}
.no-left-padding{
	padding-left:0px;	
}
.coverline{
	margin-bottom:-1px!important;
}

.list-group>.active {
  background-color: rgb(247,247,247) !important;
  border-color: #ddd !important; 
  color:#000;
}
.list-group>a{
border-left:none;	
border-right:none;	
border-radius: 0px!important;
}
.row-ext:hover{
	background-color: rgb(248,252,254) !important; 
	cursor:pointer;
}
.noradius{
	border-radius: 0px!important;
}
.zero{
	margin:0px;
	padding:0px;	
}
.footer{
	margin:0px; padding:0px;text-align:center;background:#333;
	height:40px; line-height:40px;
	color:#bbb;
}
.footer>span{
	display:block;float:right;
}
.red{
color:#d33632;
margin-right:-9px;
}
.fullwidth{
width:100%;
margin:0px auto;
}
.ctx-item-img{
width:100%;
height:120px;
margin:10px 0px;
}


.list-group-item h4{
	color:#3071A9;
	font-size: 20px;
	font-weight: normal;
	padding:0px;
	height: 20px;
	line-height: 20px;
}
.list-group-item h4 span{
margin-right:10px;
background:#d33632;
color:#fff;	
font-size: 10px;
float:left;
padding-left:7px;
}

.panel h5{
	color:#999;
	
}


.infoKey{font-size: 12px;background: #F8F8F8;	color: #999;
	 border:1px solid #F0F0F0;display:block;margin:50px 0; padding-left:10px; height:25px;line-height:25px;}
	 


.clear {
     clear: both;
     height:1px;
     margin-top:-1px;
     overflow:hidden;
}

.topalign{vertical-align:top;}